<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/css/weddinglist.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<span><strong>Hello, {{ request.user.get_full_name|default:request.user.username }}.</strong></span>
<br><br>
<form action="/logout" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<br>
<div style="width: 100%;">
    <div style="width: 50%; float: left; margin-right: 30px">
        <span><strong>gifts available:</strong></span>
        <br>
        <br>
        <table id="giftsTable">
        </table>
    </div>
    <div style="margin-left: 50%">
        <span><strong>wedding list:</strong></span>
        <br>
        <br>
        <table id="weddingListTable">
        </table>
    </div>
</div>
<script>
window.onload = function () {
    showAllGifts();
    showWeddingList();
};

function showAllGifts() {
    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE){
            if (xhr.status === 200) {

                let table = document.getElementById("giftsTable");
                let obj = JSON.parse(xhr.response);
                let gifts = obj["gifts"];

                let headerRow = document.createElement("tr");
                let cols = ["name", "brand", "price", "stock", "action"];
                for (let j = 0; j < cols.length; j++) {
                   let header = document.createElement("th");
                   header.innerHTML = cols[j];
                   headerRow.appendChild(header);
                }

                table.appendChild(headerRow);

                for (let i = 0; i < gifts.length; i++) {
                   let giftObj = gifts[i];
                   let row = document.createElement("tr");
                   let nameCell = document.createElement("td");
                   nameCell.innerHTML = giftObj["name"];
                   let brandCell = document.createElement("td");
                   brandCell.innerHTML = giftObj["brand_name"];
                   let priceCell = document.createElement("td");
                   priceCell.innerHTML = giftObj["price"];
                   let stockCell = document.createElement("td");
                   stockCell.innerHTML = giftObj["stock"];

                   let addBtn = document.createElement("button");
                   addBtn.type = "button";
                   addBtn.innerText = "Add";
                   addBtn.setAttribute("data-gift-id", giftObj["gift_id"]);
                   addBtn.setAttribute("data-gift-name", giftObj["name"]);
                   addBtn.style.cursor = "pointer";
                   addBtn.onclick = addGift;

                   row.appendChild(nameCell);
                   row.appendChild(brandCell);
                   row.appendChild(priceCell);
                   row.appendChild(stockCell);
                   row.appendChild(addBtn);
                   table.appendChild(row)
                }

            } else {
                alert(xhr.responseText)
            }
        }
    };
    xhr.open("GET", "/api/v1/gifts");
    xhr.send();
}

function showWeddingList() {
    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE){
            if (xhr.status === 200) {
                let obj = JSON.parse(xhr.response);
                let table = document.getElementById("weddingListTable");
                let gifts = obj["gifts"];


                let headerRow = document.createElement("tr");
                let cols = ["name", "brand", "price", "status", "action"];
                for (let j = 0; j < cols.length; j++) {
                   let header = document.createElement("th");
                   header.innerHTML = cols[j];
                   headerRow.appendChild(header);
                }

                table.appendChild(headerRow);

                for (let i = 0; i < gifts.length; i++) {
                   let giftObj = gifts[i];
                   let row = document.createElement("tr");
                   let nameCell = document.createElement("td");
                   nameCell.innerHTML = giftObj["name"];
                   let brandCell = document.createElement("td");
                   brandCell.innerHTML = giftObj["brand_name"];
                   let priceCell = document.createElement("td");
                   priceCell.innerHTML = giftObj["price"];
                   let statusCell = document.createElement("td");
                   statusCell.innerHTML = giftObj["status"];

                   let removeBtn = document.createElement("button");
                   removeBtn.type = "button";
                   removeBtn.innerText = "remove";
                   removeBtn.setAttribute("data-gift-id", giftObj["gift_id"]);
                   removeBtn.setAttribute("data-gift-name", giftObj["name"]);
                   removeBtn.style.cursor = "pointer";
                   removeBtn.onclick = removeGift;

                   row.appendChild(nameCell);
                   row.appendChild(brandCell);
                   row.appendChild(priceCell);
                   row.appendChild(statusCell);
                   row.appendChild(removeBtn);
                   table.appendChild(row)
                }
            } else {
                alert(xhr.responseText)
            }
        }
    };
    xhr.open("GET", "/api/v1/wedding-list");
    xhr.send();
}

function addGift(e) {
    let giftName = e.target.getAttribute("data-gift-name");
    let ok = confirm("Are you sure you want to add to the weeding list the" +
        " gift: " + giftName+"?");

    if (!ok) {
        return;
    }

    let xhr = new XMLHttpRequest();
    let formData = new FormData();
    let csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    let giftID = e.target.getAttribute("data-gift-id");
    let userID = "{{ request.user.id }}";

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE){
            if (xhr.status === 200) {
                window.location = "/";
            } else if (xhr.status === 400){
                let obj = JSON.parse(xhr.response);
                alert(obj["message"]);
            } else {
                alert(xhr.responseText)
            }
        }
    };
    formData.append("gift_id", giftID);
    formData.append("user_id", userID);
    xhr.open("POST", "/api/v1/wedding-list");
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.send(formData);
}

function removeGift(e) {
    let giftName = e.target.getAttribute("data-gift-name");
    let ok = confirm("Are you sure you want to remove from the weeding list the" +
        " gift: " + giftName+"?");

    if (!ok) {
        return;
    }

    let xhr = new XMLHttpRequest();
    let formData = new FormData();
    let csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    let giftID = e.target.getAttribute("data-gift-id");
    let userID = "{{ request.user.id }}";

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE){
            if (xhr.status === 200) {
                window.location = "/";
            } else if (xhr.status === 400){
                let obj = JSON.parse(xhr.response);
                alert(obj["message"]);
            } else {
                alert(xhr.responseText)
            }
        }
    };
    formData.append("gift_id", giftID);
    formData.append("user_id", userID);
    xhr.open("DELETE", "/api/v1/wedding-list");
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.send(formData);
}

</script>
</body>
</html>